.cards{
    width: 90rem;
    height: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    padding: 2rem;

    padding-right: 0%;
    gap: 2rem;
    color: #f8a0a0;
    margin: auto;
   
    
}